@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 1440px;
    height: auto;
    margin: 0 auto;
}
/* Start resume */
.resume{
    padding: 15px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.resume > h3{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
}
.resume > button{
    padding: 17px 24px;
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    background-color: white;
    border-radius: 10px;
}
.resume > button > a{
    text-decoration: none;
    color: rgb(13, 19, 33);
}
/* End resume */
/* Hero section start  */
.hero-section{
    width: 100%;
    height: 650px;
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 75px;
}
.hero-image{
    width: 240px;
    height: 240px;
    padding-top: 25px;
}
.hero-section > h2{
    padding-top: 32px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
}
.hero-section > p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    padding-top: 24px;
    padding-bottom: 32px;
    width: 60%;
    text-align: center;
}
.hero-section > button{
    padding: 21px 24px;
    background-color: rgb(13, 19, 33);
    border: 1px solid rgb(13, 19, 33);
    border-radius: 10px;
    margin-top: 20px;
}
.hero-section > button >a{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 50px;
}
/* Hero section end  */
/* start development */
.development{
    width: 1140px;
    height: 1390px;
    margin: 0 auto;
    margin-bottom: 88px;
}
.dev-one{
    padding: 0px 47px;
    text-align: center;
}
.dev-one > h3{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}
.dev-one > p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 48px;
}
.dev{
    width: 946px;
    height: 292.5px;
    padding: 48px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
    background-color: rgb(255, 247, 233);
}
.writing > h4{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}
.writing > p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 50px;
}
.l-btn{
    padding: 12px 20px;
    border: 1px solid rgb(13, 19, 33);

}
.l-btn > a{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}
/* Dev section end  */
/* inspiration start */
.inspiration{
    width: 1140px;
    height: 775px;
    margin: 0 auto;
    margin-bottom: 150px;
}
.inspiration > h3{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 24px;
}
.inspiration > p{
    width: 80%;
    margin: 0 auto;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 48px;
}
.y-v{
    margin: 0 auto;
    display: block;
}
/* inspiration end */
/* target section start  */
.target{
    width: 1140px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 110px;
}
.title{
    width: 852px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 48px;
}
.title > h3{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    padding-bottom: 20px;
}
.title > p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
}
.t-list{
    display: flex;
}
.t-data{
    width: 364px;
    height: 299px;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}
.t-data > h4{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    padding-bottom: 10px;
}
.t-data > p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 20px;
}
.t-data > button{
    border: none;
    background-color: white;
    text-decoration: underline;
}
.bgcoler-html{
    background-color: #FFF6F4;
}
.bgcoler-css{
    background-color: #F2F6FE;
}
.bgcoler-js{
    background-color: #eef3e0;
}
/*  */
/*  */
.contuct{
    width: 1140px;
    height: 314px;
    margin: 0 auto;
    margin-bottom: 60px;
    background-image: url(../assets/handshake.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 64px;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: overlay;

}
.c-t > h3{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 16px;
}
.c-t > p{
    width: 80%;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}
.input--{
    height: 40px;
    width: 300px;
    border-radius: 3px;
    border: none;
    margin-right: 10px;
}
.input---{
    height: 40px;
    width: 70px;
    border-radius: 3px;
    border: none;
}
.input--- > a{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    text-decoration: none;
}
/* Start footer */
footer{
    width: 1140px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
footer > h5{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
}
.logo-s{
    padding: 5px;
}
.logo-b{
    display: flex;
}